node_modules/
Terraform/
Terraform/.terraform/
Terraform/.terraform.lock.hcl
Terraform/.terraform.tfstate.lock.info
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
Terraform/sshkey.pub
Terraform/sshkey
todolist.txt